<app-header title="Formulário de Avaliação em Produto" [subtitle]="item.product_name" [buttonLink]="'/produtos/' + item.product_id + '/avaliacoes'" buttonText="Voltar"></app-header>

<div class="row mt3">
    <div class="col-12">
        <app-alert #alert></app-alert>
        <form>
            <input type="hidden" name="id" id="id" [(ngModel)]="item.id">
            <div *ngIf="isInvalidField('product_id')" class="text-danger">
                {{errorMessages.product_id}}
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" [ngClass]="isInvalidField('name') ? 'form-control is-invalid' : 'form-control'" [(ngModel)]="item.name">
                    <div *ngIf="isInvalidField('name')" class="text-danger">
                        {{errorMessages.name}}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-12">
                    <label for="comment">Comentário</label>
                    <textarea name="comment" id="comment" [ngClass]="isInvalidField('comment') ? 'form-control is-invalid' : 'form-control'" rows="5" [(ngModel)]="item.comment"></textarea>
                    <div *ngIf="isInvalidField('comment')" class="text-danger">
                        {{errorMessages.comment}}
                    </div>
                </div>
            </div>   
            <div class="form-row">
                <div class="form-group col-6">
                    <label for="grade" class="d-block">Avaliação</label>
                    <ngb-rating [(rate)]="item.grade" [max]="5" name="grade" id="grade" >
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                    <div *ngIf="isInvalidField('grade')" class="text-danger">
                        {{errorMessages.grade}}
                    </div> 
                </div>     
            </div>     
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="btn-group float-right">
            <a [routerLink]="'/produtos/' + item.product_id + '/avaliacoes'" class="btn btn-danger">Cancelar</a>
            <button type="button" (click)="save()" class="btn btn-success">Salvar</button>
        </div>
    </div>
</div>